*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	background-color: #1f1f1f;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dreamsim {
	font-family: 'Roboto', sans-serif;
	background-color: #2f2f2f;
	border-radius: 1.5rem;
	box-shadow: 1.5rem 1.5rem rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1.5rem 1.5rem rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1.5rem 1.5rem rgba(0, 0, 0, 0.5);
	text-align: center;
	color: whitesmoke;

	font-size: 1.6rem;
	padding: 5rem 20rem;
}

@media only screen and (max-width: 41.25em) {
	.dreamsim {
		padding: 5rem 5rem;
	}
}

.dreamsim__title {
	margin-bottom: 1.5rem;
}

.dreamsim__stats {
	margin-bottom: 3rem;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-evenly;
	-webkit-align-items: baseline;
	align-items: baseline;
}

.dreamsim__round {
	flex: 1 1 auto;
	padding: 3rem;
}

.dreamsim__round + .dreamsim__round {
	border-left: solid 1px white;
}

@media only screen and (max-width: 26.875em) {
	.dreamsim__stat-container {
		flex-direction: column;
	}

	.dreamsim__stat-container > img {
		margin-right: 0;
		margin-bottom: 1rem;
	}

	.dreamsim__stat-text {
		margin-bottom: 1rem;
	}
}

.dreamsim__iterations {
	margin: 1rem 0;
}

.dreamsim__iterations-number {
	font-size: 2rem;
}

@media only screen and (max-width: 26.875em) {
	.dreamsim__iterations-number {
		display: block;
		margin-bottom: 0.5rem;
	}
}

.dreamsim__buttons {
	width: 100%;
}

@media only screen and (max-width: 36.25em) {
	.dreamsim__buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.dreamsim__button {
	height: 50px;
	width: 10rem;
	border: none;
	border-radius: 1.5rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.dreamsim__button:not(:last-child) {
	margin-right: 2rem;
}
.dreamsim__button:hover {
	opacity: 0.8;
}

.dreamsim__button--start {
	background-color: #4caf50;
}

.dreamsim__button--stop {
	background-color: #f44336;
}

@media only screen and (max-width: 36.25em) {
	.dreamsim__button:not(:last-child) {
		margin-right: 0;
		margin-bottom: 2rem;
	}
}

footer {
	position: absolute;
	bottom: 2%;
	width: 99%;
	text-align: center;
	color: whitesmoke;
	font-size: 1.6rem;
}

a:link,
a:visited {
	color: grey;
}
